<NuGetPack>
  <AddFrameworkReferences>false</AddFrameworkReferences>
  <IconUrl></IconUrl>
  <ProjectUrl>https://github.com/Diagonactic/DiagonacticMultithreading</ProjectUrl>
  <LicenseUrl>http://www.apache.org/licenses/LICENSE-2.0</LicenseUrl>
  <Authors>Matthew S. Dippel</Authors>
  <Owners>Matthew S. Dippel</Owners>
  <Copyright>Copyright (C) 2016 Matthew S. Dippel (under Apache 2.0 license)</Copyright>
  <Description>A small library containing helper classes for handling multithreading applications</Description>
  <Summary>Migrated from TheMissingMethods, this is a small library containing, at present, only a reentrancy protection method</Summary>
  <Keywords>Reentrancy, Multithreading, Threading</Keywords>
  <Version>1.1.0.44</Version>
</NuGetPack>